// Add any custom Sass & CSS here



$font-color : rgb(20, 40, 40);

body{
	background-color: rgba(100, 140, 140, 0.2);

}


nav a {
  color: #444;
  
  
}

.active {
	color: rgb(20, 55, 55);
}

.large{
	font-size: 1em;
}
.small{
	font-size: 0.8em;
}

.text-center {
  padding: 20px;
  

}

section {
  background-image:  url(../media/balloon.jpg);
  background-position: top;
  background-attachment: fixed;
  background-size: 70%;
  width: 85%;
  text-align: center;
  position: relative;

}


.introduction {
	padding-top: 30px;
} 

.anima {
	margin : 30px;
	color: $font-color;
	@include breakpoint(large up){
		animation: 
    pulse 3s ease infinite alternate, 
    nudge 40s linear infinite alternate;
  	border-radius: 100%;
  	
  	font-family: "Times New Roman", Georgia, Serif;
  	font-size: 30px;
	}
  

}
p {
	color: $font-color;
	font-family:Book Antiqua;
}

@keyframes nudge {
  0%, 100% {
    transform: translate(-300px, 0);
  }
  50% {
    transform: translate(300px, 0);
  }
}

.photograph {
	@include breakpoint(large up){
		margin-left: 60px;
		
	};
	@include breakpoint(medium only){
		margin-left:45px;
		
	};
	@include breakpoint(small only){
		margin-left: 20px;
		
	};
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	width: 90%;
	background-color: rgba(235,231,198,0.3);
}

footer {
	font-size: 50px;
	color: $font-color;
}

.enlarge-modal {
	color: $font-color;
}

